<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Peperify </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		 
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/responsive.css">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <style>
                .custom-accordion .card-header {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                }
                .custom-accordion .btn-custom {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.2rem;
                    width: 100%;
                    text-align: left;
                    background: none;
                    border: none;
                    padding: 0;
                }
                .custom-accordion .btn-custom:hover {
                    text-decoration: none;
                    color: #ffeb3b;
                }
                .custom-accordion .card-body {
                    background-color: #f8f9fa;
                    border-top: 1px solid #007bff;
                }
                .custom-accordion .card {
                    border: none;
                    border-radius: 0;
                    margin-bottom: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }
                .custom-accordion .btn-custom:focus {
                    outline: none;
                    box-shadow: none;
                }
            </style>

   <body>
       
  
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
  

    <header>
    
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                            
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                                
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">    
                                        <li><a href="index.html"> Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                           <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="blog.html">Blog</a>
                                            
                                        </li>
                                      
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="#" class="btn header-btn">Contact Us</a>
                            </div>
                        </div>
                             
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
          
    </header>

    <main>
        
        <div class="services-area">
            <div class="container">

            
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center mb-80">
                            <span>Pricing</span>
                            <h2>Choose your plan​</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-tasks"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$20 /month</h4>
                                <h5>Intro</h5>
                                <p>For most businesses that want to optimize web queries</p>
                                <ul>
                                    <li> All limited links</li>
                                    <li> Own analytics platform</li>
                                    <li> Chat support</li>
                                    <li> Optimize hashtags</li>
                                    <li> Unlimited users</li>
                                </ul>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$50 /month</h4>
                                <h5>MOST POPULAR</h5>
                                <h5>Intro</h5>
                                <p>For most businesses that want to optimize web queries</p>
                                <ul>
                                    <li> All limited links</li>
                                    <li> Own analytics platform</li>
                                    <li> Chat support</li>
                                    <li> Optimize hashtags</li>
                                    <li> Unlimited users</li>
                                </ul>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>$80 /month</h4>
                                <h5>Intro</h5>
                                <p>For most businesses that want to optimize web queries</p>
                                <ul>
                                    <li> All limited links</li>
                                    <li> Own analytics platform</li>
                                    <li> Chat support</li>
                                    <li> Optimize hashtags</li>
                                    <li> Unlimited users</li>
                                </ul>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> get started</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
        <div class="what-we-do">
            <div class="container">
                <div class="accordion custom-accordion" id="faqAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn-custom" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What integrations do you support?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                We can support platforms integrated with Checkout, Billing, and Invoicing. We can’t support PaymentIntent users but if you’re a platform interested in building your own UI for one-off payments, we’d love to hear from you! We can support platforms integrated with Checkout, Billing, and Invoicing. We can’t support PaymentIntent users but if you’re a platform
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn-custom collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I withdraw my money anytime?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quis, animi consequatur sequi, sunt quam ex aut tempore dolorem veritatis totam blanditiis unde tenetur repellat enim, corporis dicta dolore harum?
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn-custom collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Do you support PO Box Address?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veniam, eius in maxime tenetur soluta quae aspernatur! Nulla esse odit minima velit eum repellendus architecto hic? Minima accusantium commodi blanditiis.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn-custom collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    What is the waiting period for my first payout?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veniam, eius in maxime tenetur soluta quae aspernatur! Nulla esse odit minima velit eum repellendus architecto hic? Minima accusantium commodi blanditiis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
        <div class="have-project">
            <div class="container">
                <div class="haveAproject"  data-background="assets/img/team/have.jpg">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>Have project in mind?</h2>
                                <p>Looking to work with amazing new startup? Or searching for ways to share your ideas? Techup and contact us!</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                           <div class="wantToWork-btn f-right">
                                <a href="#" class="btn btn-ans">Contact Us</a>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </main>
    <footer>

        <div class="footer-main" data-background="assets/img/shape/footer.png">
          <div class="footer-area footer-padding">
              <div class="container">
                  <div class="row d-flex justify-content-between">
                      <div class="col-lg-3 col-md-4 col-sm-8">
                         <div class="single-footer-caption mb-50">
                           <div class="single-footer-caption mb-30">
       
                               <div class="footer-logo">
                                   <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                               </div>
                               <p style="color: white;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                               <div class="footer-tittle">
                                  
                               </div>
                               <div class="footer-social">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fas fa-globe"></i></a>
                                  
                              </div>
                           </div>
                         </div>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-5">
                         
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-7">
                         
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-5">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4 style="color: white;"></h4>
                                  <div class="footer-tittle">
                                      <div class="footer-pera">
                                          <p class="info1" style="color: white;">221B Baker Street, P.O Box 353 Park <br> Road, USA - 215431</p>
                                          <p class="info2" style="color: white;">peperify.com</p>
                                     </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom-area footer-bg">
              <div class="container">
                  <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p style="font-weight: bold;">
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | peperify.com
  </p>
                               </div>
                           </div>
                       </div>
                  </div>
              </div>
          </div>
        </div>
  
     </footer>
   
   


        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>

		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>

        <script src="./assets/js/jquery.slicknav.min.js"></script>


        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>

        <script src="./assets/js/gijgo.min.js"></script>

        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>

        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
                <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </body>
</html>